
section.section{    position: relative;
    top: 60px;

    padding: 20px;
    box-shadow: 5px 5px 10px 5px #999999;
    margin: 0px 5%;
    font-size: 20px;
    word-wrap: break-word;
  
    
}

.more-1,.more-2{
    height: 500px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px 5px #999999;
}
